:root {
    --primario-color: rgb(104, 90, 73);
    --segundaria-color: rgb(147, 135, 118);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--segundaria-color);
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 30px;
}

.primario {
    border: none;
    background-color: var(--primario-color);
    color: aliceblue;
    font-size: 19px;
    padding: 11px 40px;
    border-radius: 6px;
    cursor: pointer;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 50px 0 ;
}

.container .coluna {
    width: 250px;
    height: 600px;
    background-color: rgb(53, 48, 42);
    border-radius: 18px;
    overflow: hidden;
}

.container .coluna .cabeca {
    background-color: var(--primario-color);
    text-align: center;
    padding: 15px;
    overflow: none;
}

#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
}

#modal .box {
    background-color: rgb(181, 164, 141);
    width: 400px;
    border-radius: 7px;
    overflow: hidden;
}

#modal .box .head {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #DDD;
}

#modal .box .head span {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}

#modal .box .head button {
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #333;
}

#modal .box .form {
    padding: 20px;
}

#modal .box .form .form-group {
    margin-bottom: 20px;
}

#modal .box .form label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

#modal .box .form textarea,
#modal .box .form select,
#modal .box .form input {
    width: 100%;
    border-radius: 7px;
    font-size: 14px;
    border: 1px solid #000000;
    color: #000000;
}

#modal .box .form textarea {
    width: 100%;
}

#modal .box .form select {
  
    padding: 10px;
  
}

#modal .box .form input {
    padding: 10px;
}

#modal .box .form button {
    display: block;
    margin-left: auto;
}